# dev stuff (IDE configs etc)
nbproject/*
gen/*
.idea/*
.vagrant/*
.buildpath/*
.project/*
.settings/*
.buildpath
.project
.phplint-cache/*
.phpcs-cache
.phpstan-cache/*
desktop.ini

# general extensions of files we dont want
*.sql
*.sql.gz
*.log

# dynamic vendor stuff
vendor/*
node_modules/*

# project dirs
/logs/*
/images/*

# project files
/config/private.ini

# dynamic generated stuff
/routes.cache.php
/CompiledContainer.php

# these files might exist on production and we dont really want them
/*.sh
/scripts/*
composer.phar
