# dev stuff (IDE configs etc)
.idea/
composer.phar
nbproject/*
.vagrant/*
.buildpath/*
.project/*
.settings/*
desktop.ini
.buildpath
.project
.phplint-cache

# general extensions of files we dont want
*.sql.gz
*.sql
*.log

# dynamic vendor stuff
vendor/*
node_modules/*

# project dirs
images/*
deleted/*
logs/*

# project files
/phinx.yml
/config/private.ini
routes.cache.php
CompiledContainer.php

# these files might exist on production and we dont really want them
/*.sh
scripts/
