# dev stuff (IDE configs etc)
nbproject/*
gen/*
.idea/*
.vagrant/*
.buildpath/*
.project/*
.settings/*
.buildpath
.project
.phplint-cache
.phpcs-cache
desktop.ini
composer.phar

# dynamic vendor stuff
vendor/*

# general extensions of files we dont want
*.sql.gz
*.sql
*.log

# project dirs
/logs/*
/images/*

# project files
/config/private.ini

# dynamic generated stuff
/routes.cache.php
/CompiledContainer.php

# these files might exist on production and we dont really want them
/*.sh
scripts/
