parameters:
    level: 5
    paths:
        - src
        - dispatch.php
        - public/bootstrap.php
    bootstrapFiles:
        - phpstan.bootstrap.php
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Call to an undefined method Psr\\Container\\ContainerInterface::set#'
        - '#Call to an undefined method Psr\\Http\\Message\\ServerRequestInterface::getParam#'
        - '#Call to an undefined method Psr\\Http\\Message\\ResponseInterface::write#'
        - '#Call to an undefined method Psr\\Http\\Message\\ResponseInterface::withRedirect#'
        - '#Call to an undefined method Psr\\Http\\Message\\ResponseInterface::withJson#'
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon