[mysqld]
user = mysql

bind-address = 0.0.0.0
skip-external-locking
skip_name_resolve

pid-file = /var/run/mysqld/mysqld.pid
basedir = /usr
datadir = /var/lib/mysql
tmpdir = /tmp

character-set-server = utf8mb4
character-set-collations = utf8mb4=uca1400_ai_ci,utf8mb3=utf8mb3_unicode_ci

default_tmp_storage_engine = MEMORY
performance_schema = ON
max_allowed_packet = 32M
max_heap_table_size = 64M

query_cache_limit = 128K
query_cache_size = 50M
query_cache_type  = 1

innodb_use_native_aio=ON
# the following 4 configs replicate deprecated innodb_flush_method=O_DIRECT
innodb_data_file_buffering=OFF
innodb_data_file_write_through=OFF
innodb_log_file_buffering=OFF
innodb_log_file_write_through=OFF
innodb_buffer_pool_size = 128M
# innodb_log_file_size should be equal to 1/4 of buffer pool size if possible.
innodb_log_file_size = 32M
innodb_read_io_threads = 2
innodb_flush_log_at_trx_commit = 0
innodb_max_dirty_pages_pct = 90
innodb_flush_neighbors = 0
innodb_flush_sync = ON
innodb_io_capacity = 80
innodb_io_capacity_max = 160
# better align innodb page size to storage block size to avoid unnecessary write amplification
innodb_page_size = 8192
